body{
  background: rgb(127, 153, 144);
}

.hidden{
  display: none;
}

h1 {
  font-size: 80px;
  text-align: center;
}

p {
  font-size: 30px;
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
}

